
:root {
    --colorGeneral0: #000000;    
    --colorGeneral100: #ffffff;    
    --colorPrimary10: #0d0014;    
    --colorSecondary10: #170029;    
    --colorTertiary10: #002910;    
    --colorNeutral10: #151414;    
    --colorNeutralV10: #161413;    
    --colorPrimary20: #320051;    
    --colorSecondary20: #23003d;    
    --colorTertiary20: #005121;    
    --colorNeutral20: #292828;    
    --colorPrimary30: #7401bb;    
    --colorPrimary40: #8a01df;    
    --colorPrimary50: #a10bfe;    
    --colorPrimary60: #b134fe;    
    --colorPrimary70: #c05dfe;    
    --colorPrimary80: #d085fe;    
    --colorPrimary90: #d89afe;    
    --colorPrimary95: #e0aeff;    
    --colorPrimary99: #efd6ff;    
    --colorSecondary30: #2a004a;    
    --colorSecondary40: #af47ff;    
    --colorSecondary50: #c170ff;    
    --colorSecondary60: #ca85ff;    
    --colorSecondary70: #d399ff;    
    --colorSecondary80: #dcadff;    
    --colorSecondary90: #e4c2ff;    
    --colorSecondary95: #edd6ff;    
    --colorSecondary99: #f6ebff;    
    --colorTertiary30: #38fe87;    
    --colorTertiary40: #5dfe9d;    
    --colorTertiary50: #71fea9;    
    --colorTertiary60: #85feb6;    
    --colorTertiary70: #9afec2;    
    --colorTertiary80: #aeffce;    
    --colorTertiary90: #c2ffda;    
    --colorTertiary95: #d6ffe7;    
    --colorTertiary99: #ebfff3;    
    --colorNeutral30: #403f3f;    
    --colorNeutral40: #525151;    
    --colorNeutral50: #716f6f;    
    --colorNeutral60: #868383;    
    --colorNeutral70: #c2c1c1;    
    --colorNeutral80: #d7d6d6;    
    --colorNeutral90: #e1e0e0;    
    --colorNeutral95: #ebeaea;    
    --colorNeutral99: #f5f5f5;    
    --colorNeutralV20: #373227;    
    --colorNeutralV30: #554d49;    
    --colorNeutralV40: #635954;    
    --colorNeutralV50: #a19691;    
    --colorNeutralV60: #b4aba7;    
    --colorNeutralV70: #c7c0bd;    
    --colorNeutralV80: #d9d5d3;    
    --colorNeutralV90: #e3e0de;    
    --colorNeutralV95: #eceaea;    
    --colorNeutralV99: #f6f5f4;    
}