.typographyHeadlineNormal 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyHeadlineBold 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTitleNormal 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyTitleBold 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMainNormal 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyMainBold 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLabelNormal 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLabelBold 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyNormal 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyBodyBold 
 {
  
  font-family: "THICCCBOI";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

